body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

   min-width:700px;        /* Suppose you want minimum width of 1000px */
        /* As IE6 ignores !important it will set width as 1000px; */
}


.card {
  border: 2px solid black !important;
  text-align: center !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 200px !important;
  height: 100px !important;
}
