.ResultsList {
  padding: 0px;
  background: #fffef9;
  justify-content: center;
  grid-area: flashcardList;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  grid-template-areas:
    "correctCards incorrectCards"
    "accuracy accuracy";
}

.card {
  margin: 10px auto;
}

.CorrectCards {
  grid-area: correctCards;
}

.IncorrectCards {
  grid-area: incorrectCards;
}

.accuracy {
  grid-area: accuracy;
}
