.SetList {
    padding: 20px;
    background: #4f372d;
    height: 90vh;
    overflow: auto;

    grid-area: setList;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;

    grid-auto-rows: auto;

  }
