.StudyList {
  padding: 20px;
  border: 2px solid #00D8FF;
  background: #DDEEFF;


  display: grid;
  grid-template-columns: 33%, 33%, 33%;
  grid-gap: 10px;
  grid-auto-rows: auto;
  grid-template-areas:
    "empty center empty";
  align-items: start;
}


.center {
  grid-area: center
}
