.TestList {
  padding: 0px;
  border: 2px solid #00D8FF;
  background: #DDEEFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: flashcardList;
}

.testCard {
  padding: 20px;
  border: 2px solid #00D8FF;
  font-size: 300%;
  margin: 5px;
  width: 500px;
  height: 300px;
}

.testCard span {
  margin: auto;
}

.answerForm {
  margin: 5px;
  width: 500px;
}

.answerForm input {
  height: 50px;
  border: 2px solid black;
  font-size: 150%;
  text-align: center;
}

.accuracy {
  margin: 5px;
  width: 100%;
}
