.View {
  display: grid;

  grid-template-columns: minmax(250px, 20vw) minmax(250px, 80vw);
  grid-gap: 10px;
  grid-template-rows: minmax(30px, 3vh) 90%;
  grid-template-areas:
    "setList modes"
    "setList flashcardList";
}

.Modes {
  background: #fffef9;
  grid-area: modes;
  height: 5vh;
}

.btn {
  margin: 5px;
}
