.View {
  display: grid;
  grid-template-columns: minmax(250px, 20%) minmax(250px, 80%);

  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-areas:
    "setList modes"
    "setList flashcardList";
}

.Modes {
  grid-area: modes;
}
