.View {
  display: grid;
  grid-template-columns: minmax(250px, auto) minmax(270px, 80%);

  grid-gap: 10px;
  grid-template-rows: minmax(30px, 5%) 90%;
  grid-template-areas:
    "setList modes"
    "setList flashcardList";
}

.Modes {
  grid-area: modes;
}
